body{
	background-color: #ffb3b3;
	margin: 0px auto;
	width:950px;
	height: auto;
}

h2,button{
	margin: 10px 200px;
}

.header{
	border: 1px solid black;
	padding:10px;
	margin:10px;
}

.copy{
	display: inline-block;
}

.data button{
	display: inline-block;
}